footer {
  padding: 20px 0;
}

.navbar-header .navbar-brand .logo {
    height: 40px;
    width: 200px;
    background-image: url('../img/logo.png');
    background-size: auto 40px;
    background-repeat: no-repeat;
    display: block;

    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
}

@media (min-width: 768px) {
    .affix-top .navbar-header .navbar-brand .logo {
        background-image: url('../img/logo-white.png');
    }
}

.navbar-header .navbar-brand {
    margin-top: -10px;
    margin-bottom: -10px;
}


.footer-social  {
  margin-top: 50px;
  margin-bottom: 0;
}

.footer-social ul.list-inline  {
  margin: 0;
}

.footer-social ul.list-inline li a  {
  display: block;
  height: 50px;
  width: 50px;
  line-height: 50px;
  font-size: 25px;
  border-radius: 100%;
  color: white;
}

.footer-social ul.list-inline li.social-github a  {
  background-color: #333333;
}

.footer-social ul.list-inline li.social-github a:hover  {
  background-color: #262626;
}

.footer-social ul.list-inline li.social-twitter a  {
  background-color: #1da1f2;
}

.footer-social ul.list-inline li.social-twitter a:hover  {
  background-color: #0d95e8;
}

.footer-social ul.list-inline li.social-facebook a  {
  background-color: #3b5998;
}

.footer-social ul.list-inline li.social-facebook a:hover  {
  background-color: #344e86;
}

.footer-social ul.list-inline li.social-google-plus a  {
  background-color: #dd4b39;
}

.footer-social ul.list-inline li.social-google-plus a:hover  {
  background-color: #d73925;
}

.footer-social ul.list-inline li.social-linkedin a  {
  background-color: #0077b5;
}

.footer-social ul.list-inline li.social-linkedin a:hover  {
  background-color: #00679B;
}